#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "TAPI3 Rendezvous Controls APIs Samples"
#define VER_INTERNALNAME_STR        "rend.exe"
#define VER_ORIGINALFILENAME_STR    "rend.exe"

#include "common.ver"
