use market
go

if exists (select * from sysobjects where id = object_id(N'[dbo].[prc_UpdateHoldings]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[prc_UpdateHoldings]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[sp_InsertHolding]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_InsertHolding]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[sp_InsertPendingTrades]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_InsertPendingTrades]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[sp_IntraDayQuotes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_IntraDayQuotes]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[spCurLongQuote]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[spCurLongQuote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[spLongQuote]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[spLongQuote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[spLongQuoteAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[spLongQuoteAll]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[spQuote]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[spQuote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[spUpdateHoldingTest]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[spUpdateHoldingTest]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[account]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[account]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[accountType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[accountType]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[alert]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[alert]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[customer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[customer]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[customerType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[customerType]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[holding]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[holding]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[LongQuote]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[LongQuote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[news]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[news]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[pendingTrades]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[pendingTrades]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Quote]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Quote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[symbol]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[symbol]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[tracking]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tracking]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[tradeActionType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tradeActionType]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[tradeType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tradeType]
GO

CREATE TABLE [dbo].[account] (
	[ssn] [char] (9) NOT NULL ,
	[acctNumber] [varchar] (10) NOT NULL ,
	[acctType] [int] NULL ,
	[portFolioId] [int] NULL ,
	[taxReportingMethod] [int] NULL ,
	[tradingLevel] [int] NULL ,
	[serviceLevel] [int] NULL ,
	[stateCode] [varchar] (50) NULL ,
	[netWorth] [money] NULL ,
	[cashDebit] [money] NULL ,
	[cash] [money] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[accountType] (
	[acctType] [int] IDENTITY (1, 1) NOT NULL ,
	[acctDesc] [varchar] (255) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[alert] (
	[ssn] [char] (10) NOT NULL ,
	[timestamp] [datetime] NOT NULL ,
	[alertText] [varchar] (255) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[customer] (
	[ssn] [char] (9) NOT NULL ,
	[type] [int] NULL ,
	[firstName] [varchar] (50) NULL ,
	[lastName] [varchar] (50) NULL ,
	[middleName] [varchar] (50) NULL ,
	[homePhone] [char] (15) NULL ,
	[workPhone] [char] (15) NULL ,
	[email] [varchar] (50) NULL ,
	[streetAddress] [varchar] (255) NULL ,
	[city] [varchar] (50) NULL ,
	[state] [char] (2) NULL ,
	[zip] [char] (10) NULL ,
	[permissions] [int] NULL ,
	[pin] [char] (6) NULL ,
	[netWorth] [money] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[customerType] (
	[custType] [int] NOT NULL ,
	[custDesc] [varchar] (255) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[holding] (
	[acctNumber] [char] (12) NOT NULL ,
	[tradeType] [int] NOT NULL ,
	[symbol] [char] (10) NOT NULL ,
	[quantity] [int] NOT NULL ,
	[confirmationDate] [datetime] NULL ,
	[commision] [money] NULL ,
	[check_number] [char] (10) NULL ,
	[value] [money] NULL ,
	[confirmationNumber] [int] NULL ,
	[orderStatus] [int] NULL ,
	[acknowledged] [int] NULL ,
	[settlementDate] [datetime] NULL ,
	[reconcileDate] [datetime] NULL ,
	[action] [int] NULL ,
	[limitPrice] [money] NULL ,
	[ssn] [char] (10) NULL ,
	[settledPrice] [money] NULL ,
	[orderId] [int] IDENTITY (1, 1) NOT NULL ,
	[submissionDate] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LongQuote] (
	[Symbol] [varchar] (10) NOT NULL ,
	[QuoteTime] [datetime] NOT NULL ,
	[BidPrice] [money] NOT NULL ,
	[AskPrice] [money] NOT NULL ,
	[LastTradeTime] [varchar] (24) NOT NULL ,
	[LastTradePrice] [money] NOT NULL ,
	[NetChange] [decimal](18, 0) NOT NULL ,
	[DailyHigh] [money] NOT NULL ,
	[DailyLow] [money] NOT NULL ,
	[AskSize] [int] NOT NULL ,
	[BidSize] [int] NOT NULL ,
	[OpenPrice] [money] NOT NULL ,
	[ClosePrice] [money] NOT NULL ,
	[tCloseDate] [datetime] NOT NULL ,
	[newsID] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[news] (
	[timeStamp] [datetime] NOT NULL ,
	[headline] [varchar] (1000) NULL ,
	[symbol] [char] (10) NOT NULL ,
	[news_url] [char] (255) NOT NULL ,
	[newsId] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[pendingTrades] (
	[ConfirmationNumber] [int] IDENTITY (1, 1) NOT NULL ,
	[ssn] [char] (10) NOT NULL ,
	[acctNum] [char] (10) NOT NULL ,
	[symbol] [char] (10) NOT NULL ,
	[action] [int] NOT NULL ,
	[quantity] [int] NOT NULL ,
	[tradeDate] [datetime] NULL ,
	[limitPrice] [money] NULL ,
	[settledPrice] [money] NULL ,
	[status] [int] NULL ,
	[tradeType] [int] NULL ,
	[priority] [int] NULL ,
	[SubmitDate] [datetime] NOT NULL ,
	[orderId] [int] NOT NULL ,
	[institutionId] [int] NOT NULL ,
	[notQueued] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Quote] (
	[Symbol] [varchar] (50) NOT NULL ,
	[QuoteTime] [datetime] NULL ,
	[BidPrice] [money] NULL ,
	[AskPrice] [money] NULL ,
	[LastTradeTime] [varchar] (24) NULL ,
	[LastTradePrice] [money] NULL ,
	[DailyHigh] [money] NULL ,
	[DailyLow] [money] NULL ,
	[AskSize] [int] NULL ,
	[BidSize] [int] NULL ,
	[OpenPrice] [money] NULL ,
	[ClosePrice] [money] NULL ,
	[tCloseDate] [datetime] NULL ,
	[netChange] [decimal](18, 0) NULL ,
	[Volume] [int] NULL ,
	[newsID] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[symbol] (
	[symbol] [varchar] (50) NOT NULL ,
	[fiID] [int] NULL ,
	[hfID] [int] NULL ,
	[fullName] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tracking] (
	[acctNumber] [char] (12) NULL ,
	[tradeType] [int] NULL ,
	[symbol] [char] (10) NULL ,
	[quantity] [int] NULL ,
	[confirmationDate] [datetime] NULL ,
	[commision] [money] NULL ,
	[check_number] [char] (10) NULL ,
	[value] [money] NULL ,
	[confirmationNumber] [int] NULL ,
	[orderStatus] [int] NULL ,
	[acknowledged] [int] NULL ,
	[settlementDate] [datetime] NULL ,
	[reconcileDate] [datetime] NULL ,
	[action] [int] NULL ,
	[limitPrice] [money] NULL ,
	[ssn] [char] (10) NULL ,
	[settledPrice] [money] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tradeActionType] (
	[tradeActionType] [int] NOT NULL ,
	[tradeActionDesc] [char] (10) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tradeType] (
	[tradeType] [int] NOT NULL ,
	[tradeDesk] [varchar] (30) NOT NULL 
) ON [PRIMARY]
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.prc_UpdateHoldings    Script Date: 1/10/99 6:15:47 PM ******/


CREATE PROCEDURE prc_UpdateHoldings  @ssn char(10),
						 @acctNum char(10),
						 @symbol char(10),
						 @action int,
						 @quantity int,
						 @limitPrice money,
						 @tradeType int,
						 @status int,
						 @priority int

AS

SET NOCOUNT ON

IF @@ERROR <> 0
	RETURN -1

DECLARE @SubmitDate AS datetime

SELECT @SubmitDate = GETDATE()

INSERT INTO PendingTrades(ssn,
                                                 acctNum,
                                                 symbol,
			         action,
                                                 quantity,
                                                 limitPrice,
                                                 tradeType,
                                                 status,
                                                 priority,
			        SubmitDate
                                     )
        VALUES (@ssn,
                        @acctNum,
                        @symbol,
                        @action,
                        @quantity,
                        @limitPrice,
                        @tradeType,
	           @status,
                        @priority,
	           @SubmitDate
                        )

IF @@ERROR = 0
	SELECT @@IDENTITY as confirmationNumber
ELSE
	SELECT 0









GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO



CREATE PROCEDURE [sp_InsertHolding] 
	@acctNumber As char(12),
	@tradeType As Integer,
	@symbol As char(10),
	@quantity As Integer,
	@confirmationDate As datetime,
	@commision As money,
	@check_number As char(10),
	@value As money,
	@confirmationNumber As Integer,
	@orderStatus As Integer,
	@acknowledged As Integer,
	@settlementDate As datetime,
	@reconcileDate As datetime,
	@action As Integer,
	@limitPrice As money,
	@ssn As char(10),
	@settledPrice As money,
	@submissionDate As datetime
AS

SET NOCOUNT ON

IF @@ERROR <> 0
	RETURN -1

INSERT INTO holding
	( 	
	acctNumber,
	tradeType,
	symbol,
	quantity,
	confirmationDate,
	commision,
	check_number,
	value,
	confirmationNumber,
	orderStatus,
	acknowledged,
	settlementDate,
	reconcileDate,
	action,
	limitPrice,
	ssn,
	settledPrice,
	submissionDate
	)
    VALUES( 
	@acctNumber,
	@tradeType,
	@symbol,
	@quantity,
	@confirmationDate,
	@commision,
	@check_number,
	@value,
	@confirmationNumber,
	@orderStatus,
	@acknowledged,
	@settlementDate,
	@reconcileDate,
	@action,
	@limitPrice,
	@ssn,
	@settledPrice,
	@submissionDate
)

IF @@ERROR = 0
	SELECT @@IDENTITY as orderId
ELSE
	SELECT 0




GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  ON    SET ANSI_NULLS  ON 
GO




CREATE PROCEDURE [sp_InsertPendingTrades]
	@ssn char(10),
	@acctNum char(10),
	@symbol char(10),
	@action int,
	@quantity int,
	@limitPrice money,
	@tradeType int,
	@status int,
	@priority int,
	@orderId int,
	@institutionId int,
	@notQueued int

AS

SET NOCOUNT ON

IF @@ERROR <> 0
	RETURN -1

DECLARE @SubmitDate AS datetime

SELECT @SubmitDate = GETDATE()

INSERT INTO PendingTrades(
		ssn,
                           acctNum,
                           symbol,
		action,
                           quantity,
                           limitPrice,
                           tradeType,
                           status,
                           priority,
		SubmitDate,
		orderId,
		institutionId,
		notQueued
                   )
        VALUES (
		@ssn,
                          @acctNum,
                          @symbol,
                          @action,
                          @quantity,
                          @limitPrice,
                          @tradeType,
	             @status,
                          @priority,
	             @SubmitDate,
	  	@orderId,
		@institutionId,
		@notQueued
                        )

IF @@ERROR = 0
	SELECT @@IDENTITY as confirmationNumber
ELSE
	SELECT 0

























GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.sp_IntraDayQuotes    Script Date: 1/10/99 6:15:47 PM ******/
CREATE PROCEDURE sp_IntraDayQuotes(
	@symbol varchar(10),
	@start_datetime datetime,
	@end_datetime datetime
)
as
begin
           
	SELECT QuoteTime, LastTradePrice 
	  FROM longquote
	 where Symbol = @Symbol

	   and quoteTime >= @start_datetime
	   and quoteTime < @end_datetime

	Order By quoteTime
end












GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.spCurLongQuote    Script Date: 1/10/99 6:15:47 PM ******/

CREATE PROCEDURE spCurLongQuote(
	@symbol varchar(10),
	@start_datetime datetime
)
as
begin
           
	SELECT *
	  FROM longquote
	 where Symbol = @Symbol
	   and quotetime >= @start_datetime
	   and quotetime < dateadd(ss,60,@start_datetime)

end



GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.spLongQuote    Script Date: 1/10/99 6:15:47 PM ******/

CREATE PROCEDURE spLongQuote(
	@symbol varchar(10),
	@start_datetime datetime
)
as
begin
             SET ROWCOUNT  1
	SELECT *
	  FROM longquote
	 where Symbol = @Symbol
	   and quotetime >= @start_datetime
	   and quotetime < dateadd(ss,60,@start_datetime)

	SET ROWCOUNT 0
end







GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.spLongQuoteAll    Script Date: 1/10/99 6:15:47 PM ******/

CREATE PROCEDURE spLongQuoteAll(
	@symbol varchar(10)
)
as
begin
	SELECT *
	  FROM longquote
	 where Symbol = @Symbol
end





GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.spQuote    Script Date: 1/10/99 6:15:47 PM ******/
CREATE PROCEDURE spQuote(
	@begin_datetime datetime,
	@end_datetime datetime,
	@symbol varchar(10) = NULL
)
as
begin

	if ( @symbol = NULL )
	begin

		SELECT *
		  FROM longquote
	 	 where quotetime between @begin_datetime and @end_datetime

	end
	else
	begin

		SELECT *
		  FROM quote
	 	 where symbol = @symbol
	   	   and quotetime between @begin_datetime and @end_datetime

	end

end





GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO




/****** Object:  Stored Procedure dbo.spUpdateHoldingTest    Script Date: 1/10/99 6:15:47 PM ******/
CREATE PROCEDURE spUpdateHoldingTest  AS
Update  holding  Set  settledPrice = 100.11, value = 120  where confirmationNumber = 999 AND symbol = 'DELL'  AND acctNumber = '12345678'  





GO
SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

